<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Shortener-URL</h1>
        <p class="lead">This is a simple web to shrink your url</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima magni ducimus sed, provident eligendi aut cupiditate praesentium fugiat expedita commodi amet nulla quibusdam vero aliquam consequatur dolore ut, quia optio.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="container">
        <form action="/shortUrls" method="POST">
            <div class="form-group">
              <label for="fullUrl">Paste URL here</label>
              <div class="row">
                  <div class="col-7">
                    <input required type="url" class="form-control" name="fullUrl" id="fullUrl" placeholder="example: https://google.com">
                  </div>
                <button type="submit" class="btn btn-secondary">Shrink</button>
              </div>
            </div>
        </form>

        <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
              </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                  <tr>
                    <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                    <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                    <td><%= shortUrl.clicks %></td>
                  </tr>
                <% }) %>
              </tbody>
          </table>
    </div>
</body>
</html>